main {
  overflow-x: clip;
}

.subtitle-main {
  color: #1c2b51;
  font-family: Cormorant;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 55px */
  letter-spacing: -0.5px;
  text-transform: uppercase;
  margin-bottom: 0.6rem;
  padding-top: 3rem;
}
.text-main {
  color: #000;
  font-family: Mulish;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 110%; /* 44px */
  letter-spacing: -0.4px;
  margin-bottom: 1rem;
}
.header-main {
  background: linear-gradient(0deg, #66759d 0%, #1c2b51 100%);
  position: relative;
}
.header-logo {
  max-width: 90px;
  width: 100%;
  height: auto;
  margin-bottom: 3rem;
  margin-top: 17px;
}
/* ---------- mobile-menu---------  */
.header__menu {
  position: absolute;
  z-index: 3;
  top: 14px;
  right: 14px;
  transform: translateY(-116%);
  transition: transform 0.5s ease;
}
.menu__list-mobile {
  display: flex;
  flex-direction: column;
  gap: 3px;
  color: #1c2b51;
  font-family: Cormorant;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: -0.5px;
  background-color: #f0f0f0;
  border-radius: 6px;
  padding: 1rem 0.6rem;
  min-width: 180px;
  min-height: 340px;
  justify-content: space-evenly;
  align-items: center;
}
.btn-menu {
  border: none;
}
.header__menu.menu--open {
  transform: translateY(0%);
}
.header-menu-btn-close{
  position: absolute;
  bottom: -32px;
  left: 0;
  background: #f0f0f0;
  width: 180px;
  height: 45px;
  border-radius: 8px;
   display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;

}
.header-menu-btn-close .content {
 cursor: pointer;
}
/* ------------- */

.burger-main {
  position: absolute;
  top: 46px;
  right: 35px;
  width: auto;
  background: transparent;
  border: none;
}
.burger__inner {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.burger__line {
  width: 30px;
  height: 2px;
  background-color: #fff;
}
.header-hero {
  display: flex;
  min-height: 365px;
}
.header-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 58%;
}
.img-header {
  max-width: 230px;
  height: auto;
  object-fit: cover;
}
.title-header {
  color: #fff;
  font-family: Cormorant;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 83.6px */
  letter-spacing: -0.76px;
  text-transform: uppercase;
}
.text-header {
  color: #fff;
  font-family: Mulish;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 49.5px */
  letter-spacing: -0.45px;
}
.btns-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.btn-header {
  min-width: 150px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #ffffff !important;
  background-color: #5f6e96;
  border: 1px solid #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}
.btn-order {
  min-width: 150px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #ffffff;
  background-color: #1c2b51;
  border: 2px solid #070b14;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}


.about {
  background: #f0f0f0;
}

.about-inner {
  position: relative;
}
.about-description {
  height: auto;
}
.title-main-about {
  font-family: Cormorant;
  font-size: 3rem;
  font-style: italic;
  font-weight: 700;
  line-height: 110%; /* 132px */
  letter-spacing: -1.2px;
  text-transform: unset;
  padding-bottom: 0;
}
.img-about {
  margin-top: 3rem;
  width: auto;
  height: auto;
}
.title-main-for-whom {
  color: #1c2b51;
  font-family: Cormorant;
  font-size: 3rem;
  font-style: italic;
  font-weight: 600;
  line-height: 110%; /* 132px */
  letter-spacing: -1.2px;
  text-transform: unset;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.text-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}

.img-for {
  margin-top: 3rem;
  width: auto;
  height: auto;
}
.presentation {
  position: relative;
}

.presentation-inner {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.presentation-inner iframe {
  max-width: 100%;
}
.title-presentation {
  color: #fff;
  font-family: Cormorant;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 83.6px */
  letter-spacing: -0.76px;
  text-transform: uppercase;
}
.text-presentation {
  color: #fff;
  font-family: Mulish;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 49.5px */
  letter-spacing: -0.45px;
  max-width: 200px;
}

.composition-title{
  color: #1c2b51;
  font-family: Cormorant;
  font-size: 3rem;
  font-style: italic;
  font-weight: 600;
  line-height: 110%; /* 132px */
  letter-spacing: -1.2px;
  text-transform: unset;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.composition-list {
  background-color: #f0f0f0;
}
.composition-item {
  display: flex;
  border: 1px solid #1c2b51;
  min-height: 60px;
  align-items: stretch;
}
.number {
  flex-basis: 100px;
  flex-shrink: 0;
  text-align: center;
  color: #1c2b51;
  font-family: Cormorant;
  font-size: 3rem;
  font-style: italic;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.7px;
  padding: 10px;
}
.item-descr {
  flex: 1;
  padding-left: 10px;
  border-left: 1px solid #1c2b51;
  padding: 10px;
  display: flex;
  align-items: center;
}

.order {
  background-color:#d3c9bf; 
  background-image: url(../img/box-into.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.order-wrap {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.btn-order-xl {
  min-width: 250px;
  font-size: 1rem;
  text-transform: uppercase;
  box-shadow: 1px 1px 10px 5px #fff;
}
.btn-order-xl:hover {
  box-shadow: 1px 1px 25px 10px #fff;
}


.reviews-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.reviews-item {
  max-width: 50%;
  flex: 0 1 calc(50% - 10px);
  margin: auto;
}
.reviews-item img {
  width: 100%;
  height: auto;
}
.footer-main {
  background: linear-gradient(0deg, #66759d 0%, #1c2b51 100%);
  margin-top: 2rem;
}
.footer-inner {
  padding-top: 2rem;
}
.contacts-text {
  text-align: center;
}
.contacts-footer {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: #f0f0f0;
  font-family: Mulish;
  font-size: 1.4rem;
  line-height: 110%;
  letter-spacing: -0.5px;
  
  padding: 1rem 0.6rem;
  margin-bottom: 2rem;
}
.contacts-footer-list {
  display: flex;
  gap: 40px;
  justify-content: center;
  text-align: center;
}

.social-icon {
  width: 35px;
  height: 35px;
}

.copyright {
  text-align: center;
  color: #1c2b51;
}

/*  ------------ constructor--------- */
.section-constructor {
  position: relative;
  max-width: 600px;
  margin: auto;
}
.modal-constructor {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); 
  background-color: white;
  z-index: 1000;
  overflow-y: auto;
  max-width: 600px;
}

.btn-back {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #1c2b51;
  background-color: #5f6e96;
  border: 2px solid #070b14;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.btn-back:hover {
  background-color: #f1f1f1;
}
